@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Değerleri tanımla */

@theme {
  --color-Neutral-900: #051513;
  --color-Neutral-800: #4c5c59;
  --color-Neutral-500: #899492;
  --color-Neutral-400: #c0cfcc;
  --color-Neutral-300: #dde9e7;
  --color-Neutral-100: #e8f0ef;
  --color-Neutral-0: #ffffff;

  --color-Teal-700: #014745;
  --color-Teal-800: #013c3b;
  --color-Red-600: #fd4740;
  --color-Red-800: #cb0a04;

  --font-manrope: "Manrope", sans-serif;

  --color-Neutral-900-d: #001414;
  --color-Neutral-800-d: #001f1f;
  --color-Neutral-600-d: #002e2d;
  --color-Neutral-500-d: #004241;
  --color-Neutral-400-d: #004746;
  --color-Neutral-300-d: #00706e;
  --color-Neutral-100-d: #b1b9b9;
  --color-Neutral-0-d: #ffffff;
  --color-gradient-light: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* html elemenleri */

@layer base {
  body {
    font-family: var(--font-manrope);
    min-height: 100vh;
    min-width: 400px;
  }
}

/* custom style */

@layer components {
  .text-preset-1 {
    @apply text-2xl leading-[140%] tracking-normal font-bold;
  }
  .text-preset-2 {
    @apply text-xl leading-[120%] tracking-normal font-bold;
  }
  .text-preset-2-semibold {
    @apply text-xl leading-[120%] tracking-normal font-semibold;
  }
  .text-preset-3 {
    @apply text-[16px] leading-[140%] tracking-normal font-semibold;
  }

  .text-preset-3-medium {
    @apply text-[16px] leading-[130%] tracking-normal font-medium;
  }

  .text-preset-4 {
    @apply text-[14px] leading-[140%] tracking-normal font-semibold;
  }
  .text-preset-4-medium {
    @apply text-[14px] leading-[150%] tracking-normal font-medium;
  }
  .text-preset-5 {
    @apply text-[12px] leading-[140%] tracking-normal font-medium;
  }

  .radius-0 {
    @apply rounded-none;
  }
  .radius-4 {
    @apply rounded-sm;
  }
  .radius-6 {
    @apply rounded-md;
  }
  .radius-8 {
    @apply rounded-lg;
  }
  .radius-10 {
    @apply rounded-[10px];
  }
  .radius-12 {
    @apply rounded-xl;
  }

  .radius-16 {
    @apply rounded-2xl;
  }
  .radius-20 {
    @apply rounded-[20px];
  }
  .radius-24 {
    @apply rounded-3xl;
  }
  .radius-full {
    @apply rounded-full;
  }

  .shadow-1 {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .shadow-2 {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .icon-size {
    @apply w-5 h-5;
  }
  .custom-outline {
    @apply focus:outline-2 focus:outline-offset-2 focus:outline-Teal-700 dark:focus:outline-Neutral-100-d;
  }
  .custom-outline-within {
    @apply focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-Teal-700 dark:focus-within:outline-Neutral-100-d;
  }

  .custom-outline-red {
    @apply focus:outline-2 focus:outline-offset-2 focus:outline-Red-600;
  }

  .btn {
    @apply flex items-center cursor-pointer;
  }

  .btn-dropdown {
    @apply rounded-md  bg-transparent w-full gap-2.5 hover:bg-Neutral-100 dark:hover:bg-Neutral-500-d  text-Neutral-800 dark:text-Neutral-0-d;
  }
  .btn-sm {
    @apply px-3 py-2.5 rounded-lg  gap-1;
  }
  .btn-primary-sm-light {
    @apply bg-Teal-700 hover:bg-Teal-800 text-Neutral-0 shadow-[inset_0px_1px_0px_1px_rgba(255,255,255,0.1)];
  }
  .btn-primary-sm-red {
    @apply bg-Red-800 hover:bg-Red-600  text-Neutral-0 shadow-[inset_0px_1px_0px_1px_rgba(255,255,255,0.1)];
  }
  .btn-secondary-sm-light {
    @apply bg-Neutral-0 border border-Neutral-400 hover:bg-Neutral-100 text-Neutral-900;
  }
  .btn-secondary-sm-dark {
    @apply dark:bg-Neutral-800-d border dark:border-Neutral-400-d dark:hover:border-Neutral-500-d dark:hover:bg-Neutral-600-d dark:text-Neutral-0-d;
  }
}

/*  For scroll*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-Teal-700);
  cursor: pointer;
  border-radius: 100px;
}
.toast {
  @apply flex items-center gap-2 px-3 py-10.5 rounded-lg  border;
}

.toast-error {
  @apply border-Neutral-300 bg-Red-600  text-Neutral-0;
}
.toast-success-light {
  @apply border-Neutral-300 bg-Neutral-0  text-Neutral-900;
}
html.dark .toast-success-dark {
  @apply dark:bg-Neutral-500-d dark:border-Neutral-400-d dark:text-Neutral-0-d;
}

.toast-success-light-icon-color {
  @apply text-Neutral-0;
}
html.dark .toast-success-light-icon-color {
  @apply text-Neutral-500-d;
}

toast-success-light-icon-bg {
  @apply bg-Neutral-500-d;
}
html.dark .toast-success-dark-icon-bg {
  @apply bg-Neutral-0;
}

/* HTML:  */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

html.dark .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fff 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #fff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
